NEXT_PUBLIC_NFT_CONTRACT_ADDRESS=
NEXT_PUBLIC_CHAIN=chiado

# NEXT_PUBLIC_CHAIN=gnosis

NEXT_PUBLIC_CIRCLES_TREE_ADDRESS=0x8B8b4BedBea9345be8E2477ADB80Db7D4aA59811
NEXT_PUBLIC_SERVER_URL=https://sea-lion-app-aqh3u.ondigitalocean.app